@model FurnitureShop.Models.SpecialOffer

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ProductId1)
</div>
<div class="editor-field">
    Html.EditorFor(model => model.ProductId1)
    @Html.ValidationMessageFor(model => model.ProductId1)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ProductId2)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ProductId2)
    @Html.ValidationMessageFor(model => model.ProductId2)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.StartDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.StartDate)
    @Html.ValidationMessageFor(model => model.StartDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.EndDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EndDate)
    @Html.ValidationMessageFor(model => model.EndDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Price)
    @Html.ValidationMessageFor(model => model.Price)
</div>

