@model IEnumerable<FurnitureShop.Models.UserRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    FurnitureShop.Models.User user = ViewBag.user;  
}
<h1>Username @ViewBag.username</h1>
<p>
    @ViewBag.userAuth
   @* First name: @user.FirstName <br />
    Last name: @user.LastName <br />*@

</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRoleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRoleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRoleId })
        </td>
        <td>
			@item.Name
        </td>
    </tr>
}

</table>


