@model IEnumerable<FurnitureShop.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Phone
        </th>
        <th>
            ImageSrc
        </th>
        <th>
            Address
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.Password
        </td>
        <td>
			@item.FirstName
        </td>
        <td>
			@item.LastName
        </td>
        <td>
			@item.Phone
        </td>
        <td>
			@item.ImageSrc
        </td>
        <td>
			@(item.Address == null ? "None" : item.Address.Count.ToString())
        </td>
    </tr>
}

</table>


