@model FurnitureShop.Models.Product

@* original view
<div class="item">
    <h3>@Model.Name</h3>
    @Model.Description

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.HiddenFor(x => x.ProductId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" value="+ Add to cart" />
    }
    <h4>@Model.Price.ToString("c")</h4>
</div>
*@
<li class="span3">
    <div class="product-box">
        <a href="/Products/SummaryDetails?id=@Model.ProductId">
            <img alt="" src="~/customcontent/images/@Model.ImageSrc" height="150" width="150"></a><br />
        <a href="/Products/SummaryDetails?id=@Model.ProductId" class="title">@Model.Name</a><br />
        <!--<a href="#" class="category">Suspendisse aliquet</a>-->
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.HiddenFor(x => x.ProductId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="actionButtons" value="+ Add to cart" />
        }
        <p class="price">@Model.Price.ToString("c")</p>
    </div>
</li>


